/client-py/
*.bak
*.code-workspace
*.gstmp
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.profraw
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*.VC.db
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
/.agent
/_agent
/_agents
.android
.ccls-cache
.checkstyle
.cipd
.classpath
.code-coverage
.coverage
.cproject
.dir-locals.el
.emulator_sdk
.env
.gdb_history
.gdbinit
.jetskicli
.landmines
.metadata
.project
.projectile
.pydevproject
.ruff_cache
/.scratch
.siso_failed_targets
*.class
compile_commands.json
cscope.*
GPATH
GRTAGS
GSYMS
GTAGS
Session.vim
/siso_result.json
tags
TAGS
Thumbs.db
rust-project.json
v8.log
vs-chromium-project.txt
# Store android emulator artifacts, used by //tools/android/avd/avd.py
/.android_emulator/
/.android_emulator_cipd_cache/
/.clangd/
/.clangd-index/
# Settings directories for eclipse
/.externalToolBuilders/
/.settings/
/.vs/
# Visual Studio Code
# No trailing slash to also ignore symlinks, which is useful in conjunction with
# gclient-new-workdir.
.vscode
.vscode-server
# VS Code Bazel Extension
/MODULE.bazel
/MODULE.bazel.lock
# .mypy_cache created by Python tools (e.g. in tools/metrics)
.mypy_cache

/_chrome
/_out
/android_emulator_sdk
/android_webview/tools/orderfiles/
/ash/ash_unittests_run.xml
/ash/webui/boca_ui/resources/prod
/ash/webui/boca_receiver_app_ui/resources/prod
/ash/webui/eche_app_ui/resources/app
/ash/webui/eche_app_ui/resources/prod
/ash/webui/file_manager/resources/tsconfig.json
/ash/webui/help_app_ui/resources/prod
/ash/webui/media_app_ui/resources/prod
/ash/webui/media_app_ui/resources/app
/ash/webui/media_app_ui/resources/pkg
/ash/webui/projector_app/resources/prod
/base/base_unittests_run.xml
/base/tracing/test/data/*
!/base/tracing/test/data/*.sha256
# See build/.gitignore for entries covering src/build.

# The Chrome OS build creates a /c and /c_icu symlink due to http://crbug.com/54866.
/c
/c_icu
/cdm
/ceee/internal/
/chrome/android/orderfiles/
/chrome/android/profiles/afdo.prof
/chrome/android/profiles/afdo.prof.new.xz
/chrome/android/profiles/arm.afdo.prof
/chrome/android/profiles/arm.afdo.prof.new.xz
/chrome/android/profiles/arm.local.txt
/chrome/android/profiles/local.txt
/chrome/angle_unittests_run.xml
/chrome/build/pgo_profiles/
/chrome/gl_tests_run.xml
/chrome/gles2_conform_test_run.xml
/chrome/tab_capture_performance_tests_run.xml
/chrome/telemetry_gpu_test_run.xml
/chrome/browser/chromeos/arc/voice_interaction/internal
/chrome/browser/chromeos/assistant/internal
/chrome/browser/extensions/api/ledger/
/chrome/browser/extensions/default_extensions/chromeos
/chrome/browser/performance_monitor/performance_monitor.xml
/chrome/browser/protector/internal
/chrome/browser/resources/chromeos/mako/resources/
/chrome/browser/resources/chromeos/seal/resources/
/chrome/browser/resources/downloads/internal/
/chrome/browser/resources/history/internal/
/chrome/browser/resources/pdf/html_office
/chrome/browser/resources/media_router/extension/src/
/chrome/browser/resources/preinstalled_web_apps/internal/
/chrome/browser/resources/media_router_internal/
/chrome/browser/resources/settings/internal/
/chrome/browser/resources/software_rendering_list
# Asset files downloaded by gclient runhooks.
/chrome/browser/resources/vr/assets/google_chrome/*.png
/chrome/browser/resources/vr/assets/google_chrome/*.wav
/chrome/browser/sharing/internal
/chrome/browser/ui/media_router/internal
/chrome/browser_tests_run.xml
/chrome/chrome_run.xml
/chrome/chrome_user32_delay_imports.xml
/chrome/chrome_version_resources.xml
/chrome/common/extensions/api/api.xml
/chrome/common/extensions/api/ledger/
/chrome/installer/linux/internal
/chrome/installer/mini_installer.xml
/chrome/installer/mini_installer/mini_installer.aps
/chrome/installer/mini_installer/support
/chrome/installer/mini_installer_tests_run.xml
/chrome/installer_util_strings.xml
/chrome/interactive_ui_tests_run.xml
/chrome/services/soda/internal
/chrome/setup.xml
/chrome/setup_unittests.xml
/chrome/sync_integration_tests_run.xml
/chrome/test/android/telemetry_tests/browser_tests/*.wpr
/chrome/test/chromedriver/third_party/
/chrome/test/chromeos/autotest/files/client/deps/chrome_test/test_src/
/chrome/test/chromeos/autotest/files/client/deps/page_cycler_dep/test_src/
/chrome/test/chromeos/autotest/files/client/deps/perf_data_dep/test_src/
/chrome/test/chromeos/autotest/files/client/deps/pyauto_dep/test_src/
/chrome/test/chromeos/autotest/files/client/deps/telemetry_dep/test_src/
/chrome/test/data/firefox2_profile/searchplugins
/chrome/test/data/firefox2_searchplugins
/chrome/test/data/gpu/vectortown_endurance/
/chrome/test/data/gpu/vt/
/chrome/test/data/layout_tests
/chrome/test/data/perf/private/
/chrome/test/data/perf/third_party/
/chrome/test/data/plugin/
/chrome/test/data/vr/
/chrome/test/data/webrtc/resources
/chrome/test/data/xr/ar_playback_datasets/*.mp4
/chrome/test/data/xr/webvr_info/
/chrome/test/python_tests/
/chrome/tools/test/reference_build
/chrome/unit_tests_run.xml
/chrome/web_ui_mojo_bindings.xml
/chromecast/internal
/chromeos/components/help_app_ui/resources/app
/chromeos/components/help_app_ui/resources/prod
/chromeos/profiles/chromeos.arm.orderfile.txt
/chromeos/profiles/chromeos.orderfile.txt
/chromeos/profiles/*.local.txt
/chromeos/profiles/*.afdo.prof
/chromeos/profiles/*.afdo.prof.new.xz
/cipd_cache/
/components/chrome_settings_proto_generated_compile.xml
/components/cloud_policy_proto_generated_compile.xml
/components/gcm_driver.xml
/components/history_clusters/internal
/components/leveldb_proto_test_support.xml
/components/search_engines/prepopulated_engines.xml
/components/suggestions.xml
/components/variations.xml
/components/vector_icons/google_chrome/
/content/browser/service_worker/proto.xml
/content/content_browsertests_run.xml
/content/content_common_mojo_bindings.xml
/content/content_unittests_run.xml
/content/test/data/gpu/generated/
/content/test/data/gpu/gpu_reference/
/content/test/data/gpu/mediapipe/
/content/test/data/gpu/mediapipe_zip/mediapipe_chromium_tests.zip
/content/test/data/gpu/meet_effects/
/content/test/data/gpu/meet_effects_videos/
/content/test/data/layout_tests/
/content/test/data/plugin/
/content/test/gpu/.webgpu_typescript/
/content/web_ui_test_mojo_bindings.xml
/data
/delegate_execute
/device/serial/device_serial_mojo.xml
/GEMINI.md
/google_apis/gcm/gcm.xml
/googleurl
/gpu/gles2_conform_test
/infra/.recipe_deps
/ios/third_party/earl_grey/src
/libassistant
/libinteraction
/llvm
/media/cast/logging/cast_logging_proto_lib.xml
/media/media_mojo_bindings.xml
/media/test/data/internal
/metro_driver
/mojo/internal
/net/Debug
/net/net_derived_sources.xml
/net/net_unittests_run.xml
/net/Release
/net/testserver.log
/orderfiles
/out*/
/remoting/android/internal/
/remoting/appengine/
/remoting/host/installer/chrome-remote-desktop_*.buildinfo
/remoting/host/installer/linux/internal/
/remoting/ios/internal/
/remoting/internal/
/remoting/proto/chromotocol_proto_lib.xml
/remoting/remoting_core_resources.xml
/remoting/remoting_elevated_controller.xml
/remoting/remoting_host.xml
/remoting/remoting_host_event_logger.xml
/remoting/remoting_host_installation.xml
/remoting/remoting_host_messages.xml
/remoting/remoting_infoplist_strings.xml
/remoting/remoting_lib_idl.xml
/remoting/remoting_lib_rc.xml
/remoting/remoting_me2me_host.xml
/remoting/remoting_native_messaging_manifests.xml
/remoting/remoting_version_resources.xml
/remoting/remoting_windows_resources.xml
/remoting/test/internal/
/remoting/tools/internal/
/remoting/webapp/app_remoting/internal/
/sandbox/linux/seccomp-legacy/
/seccompsandbox
/skia/tools/clusterfuzz-data/
/sql/sql_unittests_run.xml
/sync/sync.xml
/testing/libfuzzer/fuzzer_corpus_for_bots/
/testing/location_tags.json
/testing/rts/
/testserver.log
/tools/bisect/.bisect-builds-cache.json
/tools/bisect/catapult_bisect_dep/
# See third_party/.gitignore for entries covering src/third_party.
/tools/.bisect-builds-cache.json
/tools/cygprofile/*.wprgo
/tools/distcc
/tools/gn/bin/linux
/tools/gn/bin/mac
/tools/gn/bin/win
/tools/histograms
/tools/json_schema_compiler/test/json_schema_compiler_tests.xml
/tools/metrics/actions/actions.old.xml
/tools/metrics/histograms/histograms.before.pretty-print.xml
/tools/metrics/histograms/metadata/*.before.pretty-print.xml
/tools/metrics/histograms/metadata/*/*.before.pretty-print.xml
/tools/metrics/histograms/enums.before.pretty-print.xml
/tools/bluetooth
/tools/reclient
/tools/skia_goldctl/
/tools/tryserver
/tools/win/link_limiter/build
/ui/file_manager/tsconfig.json
/ui/file_manager/integration_tests/tsconfig.json
/ui/keyboard/keyboard_mojom_bindings.xml
/ui/gl/resources/angle-metal
/webkit/data
/webpagereplay_logs/
/x86-generic_out/
/xcodebuild

# Ignore any Android RenderTest goldens
**/render_tests/*.png

# Ignore any WPR archive files
**/wpr_tests/*.wprgo

# Ignore IntelliJ files.
.idea/

# Ignore cache folder created by clangd
.cache

# Ignore the default results output directory for tools/run-swarmed.py
/results

# ignore rust build files
third_party/rust/target/

# b/328065301: This file is temporarily used as a migration toggle between
# GCS hooks and first class deps.
**/*_is_first_class_gcs
# These files are created by first class GCS deps.
**/*_hash
!third_party/grpc/**/ring_hash
**/*_content_names

# Backup files that are generated by //tools/metrics/histograms/pretty_print.py in presubmit.
/*.before.pretty-print.xml
/tools/metrics/structured/sync/structured.old.xml

# Extensions: Generated DNR e.g. /_metadata/generated_indexed_rulesets/_ruleset1
**/_metadata/generated_indexed_rulesets/

# tast_control.gni to be auto generated by runhooks
/chromeos/tast_control.gni
/chromeos/tast_control_cq_tests.txt

# Trace files created when using --trace-startup.
**/chrometrace.log

# --- SWAN: gclient/hook 이 받는 것들은 저장소에 넣지 않는다 ---
/agents/shared
/base/tracing/test/data
/build/linux/debian_bullseye_amd64-sysroot
/build/linux/debian_bullseye_i386-sysroot
/buildtools/linux64
/buildtools/linux64-format
/buildtools/third_party/mold/cipd
/chrome/test/data/perf/canvas_bench
/chrome/test/data/perf/frame_rate/content
/chrome/test/data/xr/webvr_info
/components/variations/test_data/cipd
/docs/website
/media/cdm/api
/net/third_party/quiche/src
/testing/libfuzzer/fuzzers/wasm_corpus
/third_party/angle
/third_party/angle/third_party/glmark2/src
/third_party/angle/third_party/rapidjson/src
/third_party/angle/third_party/VK-GL-CTS/src
/third_party/anonymous_tokens/src
/third_party/apache-linux
/third_party/apache-linux-arm64
/third_party/apache-linux-x64
/third_party/apache-mac
/third_party/apache-windows-arm64
/third_party/apache-win-x64
/third_party/blink/renderer/core/css/perftest_data
/third_party/boringssl/src
/third_party/breakpad/breakpad
/third_party/cast_core/public/src
/third_party/catapult
/third_party/ced/src
/third_party/checkstyle/cipd
/third_party/chromium-bidi
/third_party/chromium-bidi/node_modules
/third_party/clang-format/script
/third_party/cld_3/src
/third_party/colorama/src
/third_party/compiler-rt/src
/third_party/content_analysis_sdk/src
/third_party/cpu_features/src
/third_party/cpuinfo/src
/third_party/cpython3
/third_party/cpython3/host
/third_party/cpython3/linux-amd64
/third_party/crabbyavif/src
/third_party/crc32c/src
/third_party/cros-components/src
/third_party/crossbench
/third_party/crossbench-web-tests
/third_party/cros_system_api
/third_party/dav1d/libdav1d
/third_party/dawn
/third_party/dawn/third_party/agility-sdk/src
/third_party/dawn/third_party/directx-headers/src
/third_party/dawn/third_party/directx-shader-compiler/src
/third_party/dawn/third_party/EGL-Registry/src
/third_party/dawn/third_party/glfw3/src
/third_party/dawn/third_party/ninja
/third_party/dawn/third_party/OpenGL-Registry/src
/third_party/dawn/third_party/webgpu-cts
/third_party/dawn/third_party/webgpu-headers/src
/third_party/dawn/tools/golang/linux-amd64
/third_party/dawn/tools/golang/linux-arm64
/third_party/dawn/tools/golang/windows-amd64
/third_party/dawn/tools/golang/windows-arm64
/third_party/depot_tools
/third_party/devtools-frontend/src
/third_party/devtools-frontend/src/third_party/esbuild
/third_party/disarm/src
/third_party/domato/src
/third_party/dom_distiller_js/dist
/third_party/dragonbox/src
/third_party/ds_store/src
/third_party/eigen3/src
/third_party/emoji-segmenter/src
/third_party/enterprise_companion
/third_party/enterprise_companion/chromium_linux64/cipd
/third_party/enterprise_companion/chromium_win_x86_64/cipd
/third_party/enterprise_companion/chromium_win_x86/cipd
/third_party/expat/src
/third_party/fadec/src
/third_party/farmhash/src
/third_party/fast_float/src
/third_party/federated_compute/src
/third_party/ffmpeg
/third_party/flac
/third_party/flatbuffers/src
/third_party/fontconfig/src
/third_party/fp16/src
/third_party/freetype/src
/third_party/fuzztest/src
/third_party/fxdiv/src
/third_party/gemmlowp/src
/third_party/glslang/src
/third_party/google_benchmark/src
/third_party/google-java-format/cipd
/third_party/googletest/src
/third_party/gperf
/third_party/gperf/cipd
/third_party/harfbuzz/src
/third_party/highway/src
/third_party/hunspell_dictionaries
/third_party/icu
/third_party/ink/src
/third_party/jdk
/third_party/jdk/current
/third_party/js_code_coverage/node_modules
/third_party/jsoncpp/source
/third_party/ktfmt
/third_party/ktfmt/cipd
/third_party/leveldatabase/src
/third_party/libaddressinput/src
/third_party/libaom/source/libaom
/third_party/libc++abi/src
/third_party/libc++/src
/third_party/libdrm/src
/third_party/libei/src
/third_party/libFuzzer/src
/third_party/libgav1/src
/third_party/libipp/libipp
/third_party/libjpeg_turbo
/third_party/liblouis/src
/third_party/libpfm4/src
/third_party/libphonenumber/src
/third_party/libprotobuf-mutator/src
/third_party/libsrtp
/third_party/libsync/src
/third_party/libunwind/src
/third_party/libva-fake-driver/src
/third_party/libvpx/source/libvpx
/third_party/libwebm/source
/third_party/libwebp/src
/third_party/libyuv
/third_party/litert/src
/third_party/llvm-build
/third_party/llvm-build/Release+Asserts
/third_party/llvm-libclang
/third_party/llvm-libc/src
/third_party/lss
/third_party/lzma_sdk/bin/host_platform
/third_party/lzma_sdk/bin/win64
/third_party/mac_alias/src
/third_party/material_color_utilities/src
/third_party/microsoft_dxheaders/src
/third_party/microsoft_multimedia_redirection/src
/third_party/microsoft_webauthn/src
/third_party/minigbm/src
/third_party/nasm
/third_party/nearby/src
/third_party/neon_2_sse/src
/third_party/ninja
/third_party/nlohmann_json/src
/third_party/node
/third_party/node/linux
/third_party/node/node_modules
/third_party/oak/src
/third_party/openh264/src
/third_party/openscreen/src
/third_party/openscreen/src/buildtools
/third_party/openscreen/src/buildtools/linux64-format
/third_party/openscreen/src/third_party/llvm-build/Release+Asserts
/third_party/openscreen/src/third_party/tinycbor/src
/third_party/openxr/src
/third_party/opus/tests/resources
/third_party/ots/src
/third_party/pdfium
/third_party/perfetto
/third_party/perl
/third_party/pipewire/src
/third_party/protobuf-javascript/src
/third_party/pthreadpool/src
/third_party/pyelftools
/third_party/pywebsocket3/src
/third_party/quic_trace/src
/third_party/re2/src
/third_party/readability/src
/third_party/rust
/third_party/rust-toolchain
/third_party/ruy/src
/third_party/screen-ai
/third_party/screen-ai/linux
/third_party/screen-ai/windows_386
/third_party/screen-ai/windows_amd64
/third_party/search_engines_data/resources
/third_party/securemessage/src
/third_party/sframe/src
/third_party/siso
/third_party/siso/cipd
/third_party/skia
/third_party/smhasher/src
/third_party/snappy/src
/third_party/spirv-cross/src
/third_party/spirv-headers/src
/third_party/spirv-tools/src
/third_party/sqlite/src
/third_party/subresource-filter-ruleset/data
/third_party/swiftshader
/third_party/test_fonts
/third_party/test_fonts/test_fonts
/third_party/text-fragments-polyfill/src
/third_party/tflite/src
/third_party/tflite_support
/third_party/typescript
/third_party/typescript/linux-amd64/src
/third_party/typescript/windows-amd64/src
/third_party/ukey2/src
/third_party/updater
/third_party/updater/chrome_linux64/cipd
/third_party/updater/chrome_linux64_sans_iid/cipd
/third_party/updater/chrome_win_arm64/cipd
/third_party/updater/chrome_win_arm64_sans_iid/cipd
/third_party/updater/chrome_win_x86_64/cipd
/third_party/updater/chrome_win_x86_64_sans_iid/cipd
/third_party/updater/chrome_win_x86/cipd
/third_party/updater/chrome_win_x86_sans_iid/cipd
/third_party/updater/chromium_linux64/cipd
/third_party/updater/chromium_linux64_sans_iid/cipd
/third_party/updater/chromium_win_arm64/cipd
/third_party/updater/chromium_win_arm64_sans_iid/cipd
/third_party/updater/chromium_win_x86_64/cipd
/third_party/updater/chromium_win_x86_64_sans_iid/cipd
/third_party/updater/chromium_win_x86/cipd
/third_party/updater/chromium_win_x86_sans_iid/cipd
/third_party/vulkan-deps
/third_party/vulkan-headers/src
/third_party/vulkan-loader/src
/third_party/vulkan_memory_allocator
/third_party/vulkan-tools/src
/third_party/vulkan-utility-libraries/src
/third_party/vulkan-validation-layers/src
/third_party/wayland-protocols/gtk
/third_party/wayland-protocols/kde
/third_party/wayland-protocols/src
/third_party/wayland/src
/third_party/webdriver/pylib
/third_party/webgl/src
/third_party/webgpu-cts/src
/third_party/webpagereplay
/third_party/webpagereplay/buildtools/linux64-format
/third_party/webpagereplay/third_party/clang-format/script
/third_party/webpagereplay/third_party/golang/linux/x64
/third_party/webrtc
/third_party/webview2
/third_party/weston/src
/third_party/wtl
/third_party/wuffs/src
/third_party/xnnpack/src
/third_party/zstd/src
/tools/luci-go
/tools/perf/page_sets/maps_perf_test/dataset
/tools/resultdb
/tools/skia_goldctl/linux
/tools/skia_goldctl/win
/v8
/out/
/build/win_toolchain.json
/build/util/LASTCHANGE*
/.gclient_entries
/swan/server_tests/.secrets
/.env
